rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Products and posts catalog: public read & write for all users and visitors
    match /products/{productId} {
      allow read, write: if true;
    }

    match /posts/{postId} {
      allow read, write: if true;
    }

    match /site_content/{contentId} {
      allow read, write: if true;
    }

    match /reviews/{reviewId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /carts/{userId} {
      allow read, write: if true;
    }
  }
}
